body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  

h1 {
    color: white;
    background-color: black;
    text-align: center;
}

header {
    background: #333;
  }

p {

}

a {
    color: #d21034;
  }

  .container {
    width: 1024px;
    margin: 0 auto;
  }

.backgroundColor {
    background-color: lightgray;
}

.yourName {
    display: inline-block;

}

#bio,
#contactInfo,
#bioImg{
    float: left;
}

#bio {
    width: 70%;
}

#contactInfo {
    width: 30%;

}

#bioImg {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}